In [1201]:
import numpy as np
import pandas as pd
tour_comp = pd.read_csv("TourneyCompactResults.csv");
seeds = pd.read_csv("TourneySeeds.csv");

In [1202]:
#seeds['region'] = seeds['Seed'].astype(str).str[0:1];
#seeds["Seed"].replace(seeds["Seed"][0:1],"_");
seeds["Seed"]= [i[1:3] for i in seeds["Seed"]]
#seeds['Seed']= seeds['Seed'].str[0:3].astype(int)
seeds.head()

   Season Seed  Team
0    1985   01  1207
1    1985   02  1210
2    1985   03  1228
3    1985   04  1260
4    1985   05  1374

In [1203]:
tour_comp = tour_comp.rename(columns={"Wteam":"team1", "Lteam":"team2"});
tour_comp["result"] = np.repeat(1,2050);
for i in range(2050):
    if tour_comp.team1[i] > tour_comp.team2[i]:       
        team1 = tour_comp.team2[i]
        team2 = tour_comp.team1[i]
        tour_comp.set_value(i, "team1", team1)
        tour_comp.set_value(i, "team2", team2)
        tour_comp.set_value(i, "result", 0)

In [1204]:
tour_comp.tail()

      Season  Daynum  team1  Wscore  team2  Lscore Wloc  Numot  result
2045    2016     146   1314      88   1323      74    N      0       1
2046    2016     146   1393      68   1438      62    N      0       1
2047    2016     152   1314      83   1393      66    N      0       1
2048    2016     152   1328      95   1437      51    N      0       0
2049    2016     154   1314      77   1437      74    N      0       0

In [1205]:
tour_comp=tour_comp[tour_comp['Season']>2002];
tour_comp=tour_comp[tour_comp['Season']<2017];
seeds=seeds[seeds['Season']>2002];
seeds=seeds[seeds['Season']<2017];

In [1206]:
data = tour_comp[tour_comp.columns[[0,1,2,4,8]] ];
data = pd.merge(data, seeds, how='left', left_on=["Season","team1"], right_on=["Season","Team"])
data = pd.merge(data, seeds, how='left', left_on=["Season","team2"], right_on=["Season","Team"])

In [1207]:
data['Seed_x']= data.Seed_x.astype('int');
data['Seed_y']= data.Seed_y.astype('int');
data['different_seed']=data['Seed_x'].values-data['Seed_y'].values;
data.head()

,Season,Daynum,team1,team2,result,Seed_x,Team_x,Seed_y,Team_y,different_seed
0,2003,134,1411,1421,0,16,1411,16,1421,0
1,2003,136,1112,1436,1,1,1112,16,1436,-15
2,2003,136,1113,1272,1,10,1113,7,1272,3
3,2003,136,1141,1166,1,11,1141,6,1166,5
4,2003,136,1143,1301,1,8,1143,9,1301,-1

In [1208]:
#data=data[data.columns[[0,1,2,3,5,7,8,10,11,4]]];
data=data[data.columns[[0,1,2,3,4,5,7,9]]]
data.head()

   Season  Daynum  team1  team2  result  Seed_x  Seed_y  different_seed
0    2003     134   1411   1421       0      16      16               0
1    2003     136   1112   1436       1       1      16             -15
2    2003     136   1113   1272       1      10       7               3
3    2003     136   1141   1166       1      11       6               5
4    2003     136   1143   1301       1       8       9              -1

In [1209]:
#'134'=0,'135'=0,'136'=1,'137'=1,'138'=2,'139'=2,'143'=3,'144'=3, '145'=4,'146'=4,'152'=5,'154'=6))}
data.loc[data['Daynum'] == 134, 'Daynum'] = 0;
data.loc[data['Daynum'] == 135, 'Daynum'] = 0;
data.loc[data['Daynum'] == 136, 'Daynum'] = 1;
data.loc[data['Daynum'] == 137, 'Daynum'] = 1;
data.loc[data['Daynum'] == 138, 'Daynum'] = 2;
data.loc[data['Daynum'] == 139, 'Daynum'] = 2;
data.loc[data['Daynum'] == 143, 'Daynum'] = 3;
data.loc[data['Daynum'] == 144, 'Daynum'] = 3;
data.loc[data['Daynum'] == 145, 'Daynum'] = 4;
data.loc[data['Daynum'] == 146, 'Daynum'] = 4;
data.loc[data['Daynum'] == 152, 'Daynum'] = 5;
data.loc[data['Daynum'] == 154, 'Daynum'] = 6;
data['Daynum'].value_counts()

1    448
2    224
3    112
4     56
0     32
5     28
6     14
Name: Daynum, dtype: int64

In [1210]:
regular_score=pd.read_csv('regular_score.csv');
detail=pd.read_csv('detail.csv');
del regular_score['Unnamed: 0'];
regular_team1=regular_score.rename(columns={'team':'team1'})
#regular_team1=regular_team1.rename(columns={'score':'score1'})
regular_team1.head();
regular_team2=regular_score.rename(columns={'team':'team2'})
#regular_team2=regular_team2.rename(columns={'score':'score2'})
regular_team2.head();
detail1=detail.rename(columns={'team':'team1'})
detail1.head();
detail2=detail.rename(columns={'team':'team2'})
regular_team1.head()

,Season,team1,game,win_game,rate,win_get_score,lose_get_score,lose_lose_score,win_lose_score,score,Numot
0,2003,1102,28,12,0.428571,68.750000,48.625000,53.166667,59.875000,57.250000,0.000000
1,2003,1103,27,13,0.481481,87.769231,70.428571,78.384615,77.928571,78.777778,0.296296
2,2003,1104,28,17,0.607143,74.705882,60.909091,61.529412,70.363636,69.285714,0.035714
3,2003,1105,26,7,0.269231,79.428571,68.947368,66.428571,80.421053,71.769231,0.153846
4,2003,1106,28,13,0.464286,68.307692,59.533333,57.923077,68.800000,63.607143,0.035714

In [1211]:
data = pd.merge(regular_team1,data, how='right', on=["Season","team1"]);
data = pd.merge(regular_team2,data, how='right', on=["Season","team2"]);
data = pd.merge(detail1,data, how='right', on=["Season","team1"]);
data = pd.merge(detail2,data, how='right', on=["Season","team2"]);

In [1212]:
data.columns = data.columns.str.replace("_y", "2");
data.columns = data.columns.str.replace("_x", "1");

In [1213]:
# delta values
data['diff_score']=data['score1']-data['score2']
data['diff_Numot']=data['Numot1']-data['Numot2']
data['diff_rate']=data['rate1']-data['rate2']
data['diff_fgm']=data['fgm1']-data['fgm2']
data['diff_fga']=data ['fga1']-data ['fga2'] 
data['diff_fgm3']=data['fgm31']-data['fgm32']
data['diff_fga3']=data['fga31']-data['fga32']
data['diff_ftm']=data['ftm1']-data['ftm2'] 
data['diff_fta']=data['fta1']-data['fta2']
data['diff_or']=data['or1']-data['or2']
data['diff_dr']=data['dr1']-data['dr2']
data['diff_ast']=data['ast1']-data['ast2']
data['diff_to']=data['to1']-data['to2']
data['diff_stl']=data['stl1']-data['stl2'] 
data['diff_blk']=data['blk1']-data['blk2']
data['diff_pf']=data['pf1']-data['pf2'];

In [1296]:
data.head()

,team2,Season,fgm1,fga1,fgm31,fga31,ftm1,fta1,or1,dr1,...,diff_fga3,diff_ftm,diff_fta,diff_or,diff_dr,diff_ast,diff_to,diff_stl,diff_blk,diff_pf
0,1125,2013,27.633333,55.966667,8.300000,22.100000,13.333333,18.133333,9.366667,22.833333,...,1.006250,-2.229167,-2.679167,-2.164583,-1.885417,1.956250,0.472917,2.595833,-1.172917,1.856250
1,1137,2006,23.000000,48.827586,6.034483,15.586207,14.275862,20.655172,9.310345,22.379310,...,-1.220245,-1.304783,-1.796440,-2.883204,-0.459399,-0.962180,1.095662,0.272525,-4.439377,0.616240
2,1139,2013,23.939394,53.363636,6.545455,19.060606,14.000000,20.333333,11.606061,24.878788,...,6.216856,-0.437500,0.989583,2.574811,-2.246212,-0.558712,3.835227,2.166667,-1.759470,3.404356
3,1156,2009,23.031250,54.156250,4.750000,15.343750,14.156250,20.093750,11.562500,22.093750,...,-0.312500,-0.531250,0.093750,0.468750,-0.656250,-1.000000,-0.125000,2.625000,0.218750,2.750000
4,1160,2012,22.718750,51.687500,5.562500,16.312500,15.281250,22.250000,9.562500,25.250000,...,-1.535985,-0.082386,1.825758,-2.558712,1.340909,-3.352273,-1.285985,-1.761364,-1.386364,-0.542614

In [1215]:
#label target
data = data.dropna();
target = data['result'];

In [1287]:
# seed different+ win rate+ ave_score
df1=data[['different_seed','rate2','score2','rate1','rate2','Numot1','Numot2']]
df2=data[['diff_rate','different_seed','diff_score','Daynum']]
df3=data[['different_seed','rate2','score2','rate1','rate2','Numot1','Numot2','diff_rate','different_seed','diff_score','diff_Numot']]

In [1277]:
# select features
del data['result']
#df = data.drop('result', axis=1);
df = data.drop('team1', axis=1);
df= df.drop('team2', axis=1);
df= df.drop('Season', axis=1);
#df = df.drop('Daynum', axis=1);
df = df.drop('score1',axis=1);
df = df.drop('Seed1',axis=1);
df = df.drop('Seed2',axis=1);
df = df.drop('score2',axis=1);
df = df.drop('rate1',axis=1);
df = df.drop('rate2',axis=1);
df = df.drop('fgm1',axis=1);
df = df.drop('fgm2',axis=1);
df = df.drop('fga1',axis=1);
df = df.drop('fga2',axis=1);
df=df.drop('fgm31',axis=1);
df=df.drop('fgm32',axis=1);
df=df.drop('fga31',axis=1);
df=df.drop('fga32',axis=1);
df=df.drop('ftm1',axis=1);
df=df.drop('ftm2',axis=1);
df=df.drop('fta1',axis=1);
df=df.drop('fta2',axis=1);
df=df.drop('or1',axis=1);
df=df.drop('or2',axis=1);
df=df.drop('dr1',axis=1);
df=df.drop('dr2',axis=1);
df=df.drop('ast1',axis=1);
df=df.drop('ast2',axis=1);
df=df.drop('to1',axis=1);
df=df.drop('to2',axis=1);
df=df.drop('stl1',axis=1);
df=df.drop('stl2',axis=1);
df=df.drop('blk1',axis=1);
df=df.drop('blk2',axis=1);
df=df.drop('pf1',axis=1);
df=df.drop('pf2',axis=1);
df=df.drop('win_get_score1',axis=1);
df=df.drop('win_get_score2',axis=1);
df=df.drop('win_lose_score1',axis=1);
df=df.drop('win_lose_score2',axis=1);
df=df.drop('lose_get_score1',axis=1);
df=df.drop('lose_get_score2',axis=1);
df=df.drop('lose_lose_score1',axis=1);
df=df.drop('lose_lose_score2',axis=1);
df=df.drop('game1',axis=1);
df=df.drop('game2',axis=1);
df=df.drop('win_game1',axis=1);
df=df.drop('win_game2',axis=1);
df=df.drop('Numot1',axis=1);
df=df.drop('Numot2',axis=1);
#df=df.drop('Daynum',axis=1)
#df = data.drop('region1', axis=1);
#df = data.drop('region2', axis=1);

KeyError: 'result'

In [1288]:
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.metrics import confusion_matrix, precision_score, recall_score
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler

In [1289]:
scaler=preprocessing.MinMaxScaler()
x_train, x_test, y_train, y_test = train_test_split(df2,target,random_state=1);
x_train_transformed=scaler.fit_transform(x_train)
x_test_transformed=scaler.transform(x_test)

In [1290]:
log = LogisticRegression().fit(x_train, y_train)
print(log.score(x_test,y_test));

0.674008810573

In [1291]:
# after scale
#x_train = x_train.reshape(-1,1);
#x_test = x_test.reshape(-1,1);
log = LogisticRegression().fit(x_train_transformed, y_train);
pred = log.predict(x_test_transformed);
pred_prob = log.predict_proba(x_test_transformed);
pred_prob;
log.score(x_test_transformed,y_test)

0.68722466960352424

In [1292]:
test=y_test.to_frame().reset_index();
test=test['result'];
#test=test.to_array();

In [1293]:
pred=pred.tolist()

In [1294]:
#compare = (test == pred.tolist()).to_frame();
#print(compare.shape[0]);
#print(len(compare[compare['result'] == True]));
#rate=len(compare[compare['result'] == True])/compare.shape[0]
#print(rate)

In [1295]:
from sklearn.metrics import log_loss
log_loss(test,pred_prob)

0.59174294518895387

In [1286]:
#SVM
from sklearn import svm
clf = svm.SVC()
print(clf.fit(x_train_transformed, y_train).score(x_test_transformed,y_test));
pred = clf.fit(x_train_transformed, y_train).predict(x_test_transformed)
confusion = confusion_matrix(y_test,pred)
print(confusion);
print(precision_score(y_test,pred));
print(recall_score(y_test,pred));
#scores = cross_val_score(clf, df_scaled, target, cv=5)
#print(scores)

0.656387665198
[[79 38]
 [40 70]]
0.648148148148
0.636363636364

In [1266]:
# svm score
from sklearn.metrics import log_loss
clf = svm.SVC(probability=True)

pred_prob = clf.fit(x_train_transformed, y_train).predict_proba(x_test_transformed)
log_loss(y_test,pred_prob)

0.60169322571211359

In [1223]:
df

,different_seed,diff_score,diff_rate,diff_fgm,diff_fga,diff_fgm3,diff_fga3,diff_ftm,diff_fta,diff_or,diff_dr,diff_ast,diff_to,diff_stl,diff_blk,diff_pf
0,-5,3.618750,0.018750,2.602083,0.310417,0.643750,1.006250,-2.229167,-2.679167,-2.164583,-1.885417,1.956250,0.472917,2.595833,-1.172917,1.856250
1,-1,-8.012236,0.152392,-3.516129,-8.914349,0.324805,-1.220245,-1.304783,-1.796440,-2.883204,-0.459399,-0.962180,1.095662,0.272525,-4.439377,0.616240
2,5,1.174242,-0.086174,-0.154356,0.457386,1.920455,6.216856,-0.437500,0.989583,2.574811,-2.246212,-0.558712,3.835227,2.166667,-1.759470,3.404356
3,-1,-7.218750,0.093750,-2.625000,0.093750,-1.437500,-0.312500,-0.531250,0.093750,0.468750,-0.656250,-1.000000,-0.125000,2.625000,0.218750,2.750000
4,-8,-7.991477,-0.131629,-3.372159,-4.312500,-1.164773,-1.535985,-0.082386,1.825758,-2.558712,1.340909,-3.352273,-1.285985,-1.761364,-1.386364,-0.542614
5,7,7.581720,-0.041935,5.501075,10.941935,-0.126882,-0.429032,-3.293548,-2.061290,3.895699,3.480645,2.213978,2.058065,-1.002151,5.217204,-3.019355
6,6,6.884013,0.231975,5.224660,7.636364,-0.743992,-2.650993,-2.821317,-1.649948,3.992685,5.484848,6.380355,0.512017,-0.296761,5.623824,-2.284222
7,15,12.462366,0.222581,5.873118,10.229032,-1.764516,-3.716129,2.480645,3.758065,5.300000,5.698925,3.320430,0.038710,0.246237,6.752688,-3.696774
8,15,2.322581,0.370968,2.637097,1.976815,-3.383065,-9.572581,0.431452,-0.397177,1.882056,2.391129,2.168347,-2.728831,-0.162298,5.781250,-5.159274
9,2,-3.129412,-0.051261,0.588235,6.057143,-2.112605,-2.310924,-2.193277,-3.165546,4.016807,0.966387,-0.973950,-1.110084,1.599160,2.981513,-2.589076
10,11,2.642424,-0.014719,1.424242,5.390476,-1.050216,0.480519,0.844156,1.901299,6.277056,-0.826840,-1.612987,0.379221,1.870996,2.446753,-2.213853
11,5,0.916129,0.033180,1.290323,4.250691,-1.623041,-3.009217,-0.041475,-0.823041,3.557604,1.078341,0.694931,0.452535,0.693088,4.112442,-3.132719
12,3,4.430303,-0.014719,1.848485,4.602597,-0.595671,-1.398268,1.329004,-0.765368,1.337662,2.597403,-1.158442,0.167100,-0.947186,1.840693,-1.274459
13,-1,-2.025735,0.049632,1.314338,-2.101103,-0.501838,0.068015,-4.152574,-6.786765,-3.623162,-2.159926,0.384191,-2.351103,0.518382,-0.001838,-0.718750
14,5,-0.102403,0.085684,2.076280,4.764890,1.142111,2.553814,-5.397074,-5.142111,0.292581,-0.094044,1.197492,-4.877743,1.290491,0.454545,-3.692790
15,1,15.092803,0.192235,4.405303,2.748106,4.150568,5.116477,2.131629,2.482008,-1.297348,2.261364,5.627841,-0.664773,-2.524621,-1.853220,-1.345644
16,3,8.745989,0.127451,3.524955,-4.986631,1.946524,-0.661319,-0.250446,-3.141711,-5.951872,1.187166,4.964349,-0.553476,-2.000000,-3.593583,-1.491087
17,3,5.757576,0.121212,2.484848,-0.696970,2.969697,5.363636,-2.181818,-5.454545,-5.727273,1.848485,3.212121,-1.848485,-1.000000,-4.272727,0.090909
18,0,-1.658847,0.015640,-1.466276,-4.263930,-2.255132,-3.924731,3.528837,6.360704,-1.091887,0.088954,2.108504,1.259042,1.001955,0.222874,-1.316716
19,-5,-8.224242,-0.118182,-4.487879,-8.069697,-1.293939,-1.903030,2.045455,0.387879,-3.236364,-5.718182,-4.509091,-0.354545,-0.451515,-6.360606,1.339394
20,3,2.897917,-0.050000,2.102083,2.472917,-1.275000,-5.433333,-0.031250,-1.087500,-0.152083,-2.014583,-1.204167,-0.847917,1.168750,-0.477083,0.306250
21,8,2.621839,0.006897,0.745977,7.643678,0.505747,2.668966,0.624138,2.894253,3.180460,-0.175862,-1.787356,-4.208046,1.396552,1.133333,0.301149
22,11,7.966667,0.233333,0.966667,8.233333,3.133333,9.033333,2.900000,3.800000,2.966667,-0.366667,-1.666667,-2.100000,3.166667,0.900000,0.700000
23,15,18.316667,0.310417,6.995833,9.735417,1.654167,2.964583,2.670833,1.377083,1.706250,0.077083,3.983333,-3.012500,2.277083,3.679167,0.018750
24,1,0.659091,0.025568,-2.558712,-4.167614,0.793561,3.561553,4.982955,3.631629,-1.896780,-6.641098,-3.992424,0.399621,3.192235,-1.914773,2.658144
25,15,17.360417,0.239583,6.283333,11.260417,2.466667,4.331250,2.327083,4.212500,3.343750,7.558333,2.543750,-0.462500,0.610417,4.022917,2.339583
26,13,4.812500,0.093750,1.562500,0.906250,-1.187500,-4.687500,2.875000,4.250000,0.156250,0.281250,-2.062500,-1.312500,0.250000,2.156250,0.593750
27,13,8.129412,0.090196,2.554902,4.127451,1.201961,2.501961,1.817647,1.319608,2.123529,-0.139216,1.382353,-0.943137,1.433333,-0.078431,-2.170588
28,15,13.564338,0.321691,4.906250,7.674632,3.465074,6.295956,0.286765,-2.988971,2.023897,-1.183824,1.409926,-5.819853,0.097426,0.768382,-4.251838
29,2,1.260911,0.078748,-0.661290,4.044592,0.526565,1.538899,2.056926,1.888046,2.424099,-2.010436,0.296015,-2.882353,0.554080,-2.729602,0.464896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,11,-1.133333,0.000000,-1.433333,-6.133333,-3.033333,-10.566667,4.766667,4.833333,-1.133333,0.800000,1.333333,-0.700000,-4.066667,-2.166667,-0.833333
885,-6,-9.325758,-0.146780,-3.017045,-2.832386,0.418561,1.044508,-3.710227,-3.631629,-1.618371,0.853220,-0.765152,-1.642045,-2.313447,-4.570076,-2.082386
886,3,-2.851620,0.007315,-0.006270,-2.777429,-0.359457,-2.907001,-2.479624,-1.443051,0.132706,-2.578892,-1.756531,-1.351097,-1.314525,-2.964472,-3.811912
887,-5,-6.682900,-0.195887,-2.811688,-2.863636,1.141775,2.325758,-2.201299,-3.823593,-2.962121,-2.410173,-0.193723,-2.918831,-2.148268,-2.257576,0.386364
888,-4,-6.709091,-0.069697,-3.054545,-6.996970,0.806061,1.709091,-1.406061,-2.187879,-4.512121,-1.403030,-0.348485,0.678788,0.063636,-1.657576,-2.796970
889,-11,-8.648387,-0.222581,-2.880645,-4.523656,1.009677,2.497849,-3.896774,-3.364516,-2.019355,-0.419355,1.708602,-0.365591,-0.976344,2.070968,-1.154839
890,-1,-0.937500,0.000000,-3.312500,-5.656250,0.531250,2.156250,5.156250,4.656250,-1.031250,-2.468750,-0.687500,-0.656250,-0.093750,0.031250,-1.812500
891,-8,2.769886,-0.159091,-1.303977,-3.603220,0.451705,-0.233902,4.926136,5.456439,-0.275568,-1.608902,-0.482008,1.117424,-1.068182,-2.408144,4.017992
892,11,7.458333,0.318182,0.892045,-4.478220,1.788826,1.693182,3.885417,3.274621,-2.383523,-0.024621,4.014205,-1.477273,-1.142992,0.017045,-0.729167
893,3,6.614583,0.068182,2.110795,-1.884470,0.382576,-0.119318,2.010417,1.462121,0.022727,3.412879,2.170455,0.366477,-2.924242,-0.826705,-2.260417
894,-2,1.303030,-0.090909,-1.090909,-2.515152,2.454545,4.121212,1.030303,0.969697,-1.333333,1.333333,1.151515,0.969697,-1.878788,-0.181818,2.969697
895,4,0.636364,0.121212,-0.939394,-4.848485,0.484848,-0.515152,2.030303,0.666667,-0.696970,1.030303,0.090909,2.333333,-1.606061,-1.666667,-1.818182
896,-3,-5.334677,-0.089718,-4.914315,-8.018145,0.681452,-0.136089,3.812500,5.583669,-2.711694,2.632056,-4.434476,2.903226,-1.754032,1.318548,2.173387
897,9,-1.334677,0.071573,-1.785282,-5.211694,-2.802419,-8.361895,5.038306,7.744960,0.256048,5.599798,-1.692540,1.387097,-2.173387,2.254032,1.947581
898,8,7.987903,0.168347,1.859879,1.723790,0.391129,-0.361895,3.877016,7.035282,2.223790,6.148185,1.275202,4.870968,0.407258,2.479839,2.818548
899,-4,0.562500,-0.031250,1.343750,0.625000,0.250000,-0.093750,-2.375000,-5.406250,-2.812500,3.656250,-0.312500,-1.375000,-0.687500,-1.000000,-3.687500
900,5,7.119485,0.132353,1.329044,3.656250,-0.060662,1.367647,4.522059,6.033088,1.705882,3.211397,-2.422794,0.483456,-1.189338,-1.716912,2.281250
901,-3,11.937500,0.000000,4.031250,6.312500,1.656250,3.343750,2.218750,2.531250,0.187500,2.687500,-1.500000,0.812500,1.687500,-0.375000,1.593750
902,5,-3.475332,0.185958,-2.004744,-3.718216,0.251423,1.607211,0.282732,-1.537951,-2.185958,1.463947,-2.500949,-0.002846,-1.660342,-0.520873,0.278937
903,-7,-3.484848,-0.151515,-0.969697,-0.515152,-1.848485,-3.878788,0.303030,2.212121,-1.272727,1.666667,-1.333333,-1.121212,-1.545455,-0.878788,1.212121
904,5,-4.837121,-0.144886,-0.628788,-2.327652,-2.527462,-6.905303,-1.052083,1.042614,0.004735,0.857008,0.393939,1.196023,-1.721591,0.851326,1.067235
905,-3,4.303030,-0.030303,2.212121,2.424242,-1.545455,-5.545455,1.424242,2.515152,0.575758,1.818182,-1.090909,2.696970,0.909091,0.333333,5.090909
906,0,1.418004,0.018717,-0.628342,-2.870766,0.741533,-0.037433,1.933155,1.995544,-0.789661,2.284314,1.907308,1.951872,1.083779,-1.031194,1.203209
907,-4,-2.882353,-0.294118,-0.676471,0.441176,1.235294,3.970588,-2.764706,-4.735294,-0.823529,-1.588235,2.176471,0.882353,-1.088235,-0.735294,0.147059
908,8,2.933824,-0.101103,0.591912,1.437500,1.606618,3.310662,0.143382,0.408088,0.625000,1.604779,3.163603,1.400735,-2.818015,-1.397059,-0.378676
909,5,0.933824,-0.007353,1.404412,-2.812500,-0.174632,-1.095588,-1.700368,-0.748162,-2.406250,-0.332721,3.569853,0.744485,-0.505515,-0.834559,-1.503676
910,13,6.827621,0.101815,2.439516,7.852823,-0.406250,-1.193548,2.354839,1.419355,4.675403,-0.514113,3.375000,-0.991935,2.635081,-0.260081,2.090726
911,5,12.468750,0.218750,3.906250,5.937500,1.000000,2.562500,3.656250,4.312500,1.625000,4.468750,4.781250,1.781250,1.437500,-0.125000,3.250000
912,-7,-1.831019,0.121528,-0.627315,-1.837963,0.219907,0.696759,-0.796296,0.868056,-0.081019,3.596065,-2.019676,0.668981,-2.126157,0.549769,-1.443287
913,-8,-6.973064,0.080808,-1.239057,-3.720539,-2.865320,-6.710438,-1.629630,-0.444444,1.239057,2.723906,1.589226,3.602694,-0.801347,0.336700,1.326599